body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title span {
  color: #fd9222;
}

.container {
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/** ============================================== */
/** ====================HEADER==================== */

.header {
  padding: 24px 0 32px 0;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-cursive {
  font-style: italic;
}

.header-logo-img {
  margin-left: 4px;
}

.header-menu-list {
  display: flex;
  gap: 24px;
  margin-right: 90px;
}

.header-menu-item {
}

.header-menu-item:hover {
}

.header-menu-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header-menu-link:hover {
  color: #fd9222;
  transform: scale(1.2);
}

.header-menu-link:focus {
  color: #fd9222;
  transform: scale(1.2);
}

.header-contacts-list {
  display: flex;
  gap: 14px;
}

.header-contacts-item {
}

.header-contacts-link {
}

.header-contacts-link:hover .header-contacts-img {
  stroke: #fd9222;
}

.header-contacts-img {
  fill: transparent;
  stroke: #111;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header-logo {
}

.header-logo-cursive {
}

/** ============================================== */
/** ====================HERO==================== */

.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  background-image: url(../images/main_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background: rgba(17, 17, 17, 0.6); */
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  max-width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.hero-btn-wrap {
  display: flex;
  align-items: center;
}

.hero-buy-btn {
  border-radius: 100px;
  padding: 14px 40px;
  /* width: 144px;
  height: 45px; */
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  background: #fd9222;
  cursor: pointer;
  margin-right: 14px;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.hero-buy-btn:hover {
  transform: scale(1.05);
}

.hero-made-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  /* Костиль от Серёги для ровности кнопок */
  line-height: 1.02;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.hero-made-btn:hover {
  transform: scale(1.05);
  border: 1px solid #fd9222;
}

.hero-down-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: transform;
  transition-duration: 300ms;
}

.hero-down-btn:hover {
  transform: scale(1.09);
}

.hero-btn-img {
  background-color: #fafafa;
  border-radius: 100%;
  justify-content: center;
}

/** ============================================== */
/** ====================ADVANTEGES==================== */

.advanteges {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.advanteges-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}
.advanteges-item {
  width: calc((100% - 2 * 88px) / 3);
}

.adv-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 100%;
  border: 1px solid white;
  margin-bottom: 22px;
}

.advanteges-img {
}

.advanteges-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.advanteges-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/** ============================================== */
/** ====================TASTE==================== */

.taste {
  padding-top: 114px;
  padding-bottom: 60px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
}

.taste-item {
  width: calc((100% - 3 * 32px) / 4);
  border-radius: 15px;
  padding: 28px 23px;
}

.taste-item:nth-child(1),
.taste-item:nth-child(5) {
  background: #fd9222;
}

.taste-item:nth-child(3),
.taste-item:nth-child(7) {
  background: #1e1823;
}

.taste-item:nth-child(odd) h3 {
  color: #fafafa;
}

.taste-item:nth-child(even) {
  border: 1px solid #fd9222;
}

.taste-img {
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  padding-left: 5px;
}

/** ============================================== */
/** ====================MADE==================== */

.made {
  padding-top: 60px;
  padding-bottom: 60px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-title {
  margin-bottom: 50px;
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}

.made-list-wrap {
  padding: 32px;
}

.made-list {
}

.made-item {
  margin-bottom: 24px;
}

.made-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/** ============================================== */
/** ====================PRODUCTS==================== */

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 18px;
  row-gap: 24px;
}

.products-item {
  width: calc((100% - 3 * 18) / 4);
  padding: 32px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.products-img {
  margin-bottom: 8px;
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  margin-bottom: 2px;
}

.products-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin-bottom: 18px;
}

.products-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
}

/** ============================================== */
/** ====================SELLERS==================== */

.sellers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-item {
  border-radius: 15px 15px 0 0;
}

.sellers-item:hover .sellers-down-text {
  transform: translateY(0);
}

.sellers-down-wrap {
  position: relative;
  overflow: hidden;
  /* display: flex;
  align-items: center; */
}

.sellers-down-text {
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  height: 100%;
  border-radius: 15px 15px 0 0;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sellers-img {
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  padding-bottom: 28px;
  padding-top: 28px;
  border-radius: 0 0 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
}

/** ============================================== */
/** ====================LOVED==================== */

.loved {
  padding-top: 60px;
  padding-bottom: 120px;
}

.loved-title {
  margin-bottom: 50px;
}

.loved-list {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}

.loved-item {
  width: calc((100% - 2 * 28px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
}

.loved-img {
  margin: 0 auto;
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.loved-text {
  /* max-width: 312px; */
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  margin: 0 auto;
}

/** ============================================== */
/** ====================FOOTER==================== */

.footer {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
  margin-right: auto;
}

.footer-title span {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
}

.footer-social-wrap {
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.footer-social-icon {
  fill: transparent;
  stroke: #fff;
}

.footer-social-item {
}

.footer-social-link {
}

.contacts-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}
.contacts {
}

.contacts-list {
}

.contacts-item {
}

.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.menu-list {
  display: flex;
  gap: 24px;
  margin-top: 42px;
}

.menu-item {
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
